langchain-openai>=0.1.0
langchain-core>=0.1.0
langchain>=0.1.0
langgraph>=0.0.1
python-dotenv
typing-extensions
grandalf
langchain-community>=0.0.1
langchain-chroma>=0.1.0
chromadb>=0.5.0
pymongo>=4.6.0
psycopg2-binary>=2.9.0
langgraph-checkpoint-postgres>=2.0.0
psycopg[binary]>=3.1.0
langchain-huggingface>=0.1.0
sentence-transformers>=3.0.0
langchain-pinecone>=0.1.0
pinecone>=5.0.0